Practice/Practice_2/node_modules
GessNum02/node_modules
Homework 06/.idea
GessNum02/.idea
WorkGulp
Homework 06/node_modules
Practice/practice_7/.idea
HomeWork08/.idea
HWCalculat/.idea
HomeWork_02 (Звёздочки)/.idea
.idea
.idea
FirstMonthTasks/node_modules
.idea
Practice/Practice_8/node_modules/.bin
.idea
Practice/Practice_8/node_modules
.idea
HW12SQLDatabase/node_modules
node_modules
.idea
.idea
