body {
    background: khaki;
    text-align: center;
    margin: auto;
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 130%;

}
.main-img {
    width: 17%;
    border-radius: 50%;
    margin: 10px 0 10px 0;
}

button, input {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 100%;
}

.main-section {
    padding: 1%;
}
.main-section_form {
    padding: 1%;
}